IspelIntegrator/src/main/resources/xsd/ispelszv.wsdl

<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:tns="http://rpzv.iris.sk/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://rpzv.iris.sk/">
    <wsdl:types>
        <s:schema elementFormDefault="qualified" targetNamespace="http://rpzv.iris.sk/">
            <s:element name="ImportSZV">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="zakazka" type="tns:Zakazka"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="Zakazka">
                <s:sequence>
                    <s:element minOccurs="0" maxOccurs="1" name="Zakazka_Vozidlo" type="tns:Vozidlo"/>
                    <s:element minOccurs="0" maxOccurs="1" name="Zakazka_Praca" type="tns:ArrayOfPraca"/>
                    <s:element minOccurs="0" maxOccurs="1" name="Zakazka_Material" type="tns:ArrayOfMaterial"/>
                    <s:element minOccurs="0" maxOccurs="1" name="WsUser" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="WsPassword" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="IU" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="nazov_servis_bazar" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="cislo_zakazka" type="s:string"/>
                    <s:element minOccurs="1" maxOccurs="1" name="cena_zakazka" nillable="true" type="s:double"/>
                    <s:element minOccurs="1" maxOccurs="1" name="datum_zakazka" nillable="true" type="s:dateTime"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="Vozidlo">
                <s:sequence>
                    <s:element minOccurs="0" maxOccurs="1" name="vin" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="evc" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="vyrobca" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="model" type="s:string"/>
                    <s:element minOccurs="1" maxOccurs="1" name="rok_vyroby" type="s:int"/>
                    <s:element minOccurs="0" maxOccurs="1" name="kategoria" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="karoseria" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="vybava" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="farba" type="s:string"/>
                    <s:element minOccurs="1" maxOccurs="1" name="vykon" nillable="true" type="s:int"/>
                    <s:element minOccurs="0" maxOccurs="1" name="specifikacia" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="prevedenie" type="s:string"/>
                    <s:element minOccurs="1" maxOccurs="1" name="datum_predaja" nillable="true" type="s:dateTime"/>
                    <s:element minOccurs="0" maxOccurs="1" name="povod" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="palivo" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="tachometer" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="obsah" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="stav" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="serv_kn" type="s:string"/>
                    <s:element minOccurs="1" maxOccurs="1" name="poc_majit" nillable="true" type="s:int"/>
                    <s:element minOccurs="1" maxOccurs="1" name="nasil_pos" type="s:boolean"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="ArrayOfPraca">
                <s:sequence>
                    <s:element minOccurs="0" maxOccurs="unbounded" name="Praca" nillable="true" type="tns:Praca"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="Praca">
                <s:sequence>
                    <s:element minOccurs="0" maxOccurs="1" name="kod_praca" type="s:string"/>
                    <s:element minOccurs="0" maxOccurs="1" name="nazov_praca" type="s:string"/>
                    <s:element minOccurs="1" maxOccurs="1" name="cena_praca" nillable="true" type="s:double"/>
                    <s:element minOccurs="1" maxOccurs="1" name="mnozstvo_praca" nillable="true" type="s:double"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="ArrayOfMaterial">
                <s:sequence>
                    <s:element minOccurs="0" maxOccurs="unbounded" name="Material" nillable="true" type="tns:Material"/>
                </s:sequence>
            </s:complexType>
            <s:complexType name="Material">
                <s:sequence>
                    <s:element minOccurs="0" maxOccurs="1" name="nazov_material" type="s:string"/>
                    <s:element minOccurs="1" maxOccurs="1" name="cena_material" nillable="true" type="s:double"/>
                    <s:element minOccurs="1" maxOccurs="1" name="mnozstvo_material" nillable="true" type="s:double"/>
                    <s:element minOccurs="0" maxOccurs="1" name="katalog_cislo" type="s:string"/>
                </s:sequence>
            </s:complexType>
            <s:element name="ImportSZVResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="ImportSZVResult" type="tns:Msg"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:complexType name="Msg">
                <s:complexContent mixed="false">
                    <s:extension base="tns:MsgErr">
                        <s:sequence>
                            <s:element minOccurs="0" maxOccurs="1" name="VINexpertRes" type="tns:VinExpertRes"/>
                            <s:element minOccurs="1" maxOccurs="1" name="KMKontrolaMsg" type="tns:KMKontrolaMsg"/>
                        </s:sequence>
                    </s:extension>
                </s:complexContent>
            </s:complexType>
            <s:complexType name="MsgErr">
                <s:sequence>
                    <s:element minOccurs="1" maxOccurs="1" name="ErrorId" type="tns:ErrorMsg"/>
                    <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string"/>
                </s:sequence>
            </s:complexType>
            <s:simpleType name="ErrorMsg">
                <s:restriction base="s:string">
                    <s:enumeration value="OK"/>
                    <s:enumeration value="Error"/>
                    <s:enumeration value="VinexpertErr"/>
                    <s:enumeration value="ChybneVstupneParametre"/>
                    <s:enumeration value="Neautorizovanypristup"/>
                </s:restriction>
            </s:simpleType>
            <s:complexType name="VinExpertRes">
                <s:sequence>
                    <s:element minOccurs="1" maxOccurs="1" name="VINexpertMsg" type="tns:VINexpertMsg"/>
                    <s:element minOccurs="0" maxOccurs="1" name="VINexpertErr" type="s:string"/>
                </s:sequence>
            </s:complexType>
            <s:simpleType name="VINexpertMsg">
                <s:restriction base="s:string">
                    <s:enumeration value="Komplet"/>
                    <s:enumeration value="Ciastocny"/>
                    <s:enumeration value="Chybovy"/>
                    <s:enumeration value="Nedostupny"/>
                    <s:enumeration value="VinNemaPozadovanuDlzku"/>
                    <s:enumeration value="VINNepovoleneZnaky"/>
                    <s:enumeration value="ChybneWMI"/>
                    <s:enumeration value="Nedekodovane"/>
                </s:restriction>
            </s:simpleType>
            <s:simpleType name="KMKontrolaMsg">
                <s:restriction base="s:string">
                    <s:enumeration value="Nekontrolovane"/>
                    <s:enumeration value="HodnotaJeVIntervale"/>
                    <s:enumeration value="NedostatokUdajov"/>
                    <s:enumeration value="PovolenyPokles"/>
                    <s:enumeration value="EvidencnaChyba"/>
                    <s:enumeration value="NeumernyRozdiel"/>
                    <s:enumeration value="NeprimeranyStavNaVek"/>
                </s:restriction>
            </s:simpleType>
        </s:schema>
    </wsdl:types>
    <wsdl:message name="ImportSZVSoapIn">
        <wsdl:part name="parameters" element="tns:ImportSZV"/>
    </wsdl:message>
    <wsdl:message name="ImportSZVSoapOut">
        <wsdl:part name="parameters" element="tns:ImportSZVResponse"/>
    </wsdl:message>
    <wsdl:portType name="WS_zakazkySoap">
        <wsdl:operation name="ImportSZV">
            <wsdl:input message="tns:ImportSZVSoapIn"/>
            <wsdl:output message="tns:ImportSZVSoapOut"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="WS_zakazkySoap" type="tns:WS_zakazkySoap">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="ImportSZV">
            <soap:operation soapAction="http://rpzv.iris.sk/ImportSZV" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="WS_zakazkySoap12" type="tns:WS_zakazkySoap">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="ImportSZV">
            <soap12:operation soapAction="http://rpzv.iris.sk/ImportSZV" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="WS_zakazky">
        <wsdl:port name="WS_zakazkySoap" binding="tns:WS_zakazkySoap">
            <soap:address location="http://test.rpzv.iris.sk/WS_zakazky/WS_zakazky.asmx"/>
        </wsdl:port>
        <wsdl:port name="WS_zakazkySoap12" binding="tns:WS_zakazkySoap12">
            <soap12:address location="http://test.rpzv.iris.sk/WS_zakazky/WS_zakazky.asmx"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>